<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/style.css">
    <title>HomePage</title>
<head>
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/create-page">Create User</a></li>
</ul>

<h2>Danh sách các user </h2>

<div class="table">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Action</th>
    </tr>
    <%  listUser.forEach(user =>{%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.name%></td>
        <td><%=user.email%></td>  
        <td><%=user.city%></td>  
        <td>
          <a href="edit-user/<%=user.id%>">Edit</a>
          <a href="delete-user/<%=user.id%>">Delete</a>
        </td>
      </tr>
      <% })%>
  </table>
</div>

</body>
</html>


